# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment variables
.env
.env.*

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Docker
*.pid
*.tar
*.bak
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Test coverage
htmlcov/
.coverage
.cache
.tox/
.pytest_cache/

# Virtual environments
venv/
env/
ENV/
